RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^posts/([a-zA-Z0-9-/]+)$ posts.php?post_url=$1
RewriteRule ^posts/([a-zA-Z0-9-/]+)/ posts.php?post_url=$1

RewriteRule ^result/([a-zA-Z0-9-/]+)$ result.php?poll_id=$1
RewriteRule ^result/([a-zA-Z0-9-/]+)/ result.php?poll_id=$1

RewriteRule ^about_us?$ about.php [L]

RewriteRule ^([^\.]+)$ $1.php [NC,L]



