input[type=text], select, textarea {

  
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #33ccff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #00ff00;
}

/* Add a background color and some padding around the form */
.photo {
  max-width: 50%;
  max-height: 50%;
 /* border-radius: 2px;
  background-color: #f2f2f2;
  padding: 10px;*/
}

.container1{

  margin-top: 100px;
  margin-right: 200px;
  margin-left: 200px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


 .logo-image{
    width: 300px;
    height: 50px;
    /*border-radius: 50%;*/
    /*overflow: hidden;*/
    margin-top: -6px;
}

#image{
  float: left;
  padding: 0px 20px 20px 20px;
  margin-top: 20px;
}
p{
  padding: 0px;
  margin: 0px
}

 #footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

.poll-result .wrapper {
      display: flex;
      flex-flow: column;
}
.poll-result .wrapper .poll-question {
      width: 50%;
      padding-bottom: 5px;
}
.poll-result .wrapper .poll-question p {
      margin: 0;
      padding: 5px 0;
}
.poll-result .wrapper .poll-question p span {
      font-size: 14px;
}
.poll-result .wrapper .poll-question .result-bar {
      display: flex;
      height: 25px;
      min-width: 5%;
      background-color: #38b673;
      border-radius: 5px;
      font-size: 14px;
      color: #FFFFFF;
      justify-content: center;
      align-items: center;
}

#daily{
  width: auto;
  height:auto; 
  background-color: white;
  /*border: 1px solid;*/

  padding: 10px;
  
  border-radius: 15px;
  transition: 0.3s; 
  
}

/*style="width: 100%;height:auto;background-color: #f1f1f1;border-radius: 15px;border-width:15px;   border:solid;border-color: white;"*/

#poll{
    width: auto;
  height:auto; 
   background-color: white;
  /*border: 1px solid;*/
 
  padding: 10px;
   
  border-radius: 15px; 
  transition: 0.3s;   

}
#recent{
    width: auto;
  height:auto; 
   background-color: white;
  /*border: 1px solid;*/
  padding: 10px;
  border-radius: 15px;   
  transition: 0.3s; 

}

#daily:hover{
/* box-shadow: 5px 10px 5px #cdcdcd ;*/
 box-shadow: 0 0 20px 0 rgba(0,0,0,0.3); 
  transform: translateY(-20px);

}

#poll:hover{
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);  
  transform: translateY(-20px);

}

#recent:hover{
  /*box-shadow: 5px 10px 5px #cdcdcd;*/
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.3); 
  transform: translateY(-20px);

}
#recent{
    width: auto;
  height:auto; 
   background-color: white;
  /*border: 1px solid;*/
  padding: 10px;
  border-radius: 15px;   
  transition: 0.3s; 

}
.pollbox{
   width: auto;
  height:auto; 
   background-color: white;
  /*border: 1px solid;*/
  padding: 10px;
  border-radius: 15px;   
  transition: 0.3s; 

}
.pollbox:hover{
  /*box-shadow: 5px 10px 5px #cdcdcd;*/
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.3); 
  transform: translateY(-20px);

}
#discussionbox{
  width: auto;
  height:auto; 
   background-color: white;
  /*border: 1px solid;*/
  padding: 10px;
  border-radius: 15px;   
  transition: 0.3s; 
}

#discussionbox:hover{
  /*box-shadow: 5px 10px 5px #cdcdcd;*/
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.3); 
  transform: translateY(-20px);

}

#disclaimer{
  width: auto;
  height:auto; 
   background-color: white;
  /*border: 1px solid;*/
  padding: 10px;
  border-radius: 15px;   
  transition: 0.3s;
}

#disclaimer:hover{
  /*box-shadow: 5px 10px 5px #cdcdcd;*/
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.3); 
  transform: translateY(-20px);

}
.category{

   width: auto;
  height:auto; 
   background-color: white;
  /*border: 1px solid;*/
  padding: 10px;
  border-radius: 15px;   
  transition: 0.3s;
}
.category:hover{
  /*box-shadow: 5px 10px 5px #cdcdcd;*/
  box-shadow: 0 0 20px 0 rgba(255,255,255,0.5);
  filter: invert(100%); 
  transform: translateY(-20px);

}

.newsbox{
  width: auto;
  height:auto;
  padding: 20px;
  border-radius: 20px;   
  transition: 0.3s;
}
.newsbox:hover{
  /*box-shadow: 5px 10px 5px #cdcdcd;*/
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
  
  transform: translateY(-20px);

}
#images{
  margin: 10px;
  float: left;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}
@media (max-width: 991.98px) {
    .carousel-control-next-icon,
.carousel-control-prev-icon {
  opacity:0.1;
}
    
}

.container-recent{
  position: relative;
  font-family: Arial;
}

.text-block {
  position: absolute;
  bottom:1px;
  right:6px;
  left:6px;
  
  background-color: rgba(0,0,0,0.6);
  /*box-shadow:inset 0px -10px 30px 5px rgba(0,0,0,0.3);*/
  box-shadow: 0 -5px 5px 5px rgba(0,0,0,0.6);
  
  color: white;
  padding-left: 5px;
  padding-right: 5px;
}


